{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "insertPragma": false,
    "printWidth": 80,
    "quoteProps": "as-needed",
    "requirePragma": false,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "braceStyle": "1tbs",
    "semi": true,
    "trailingComma": "all",
    "proseWrap": "always"
}
